@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body {
    background-color: #131516;
}
.sidebar {
    background: #333;
    position: fixed;
    height: 100%;
    width: 15%;
}

.content {
    float: right;
    width: 85%;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    flex-flow: wrap;
}

.sidebarbtn {
    display: flex;
    align-items: center;
    height: 3rem;
    font-size: large;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s all ease;
}

.sidebarbtn:hover {
    background: rgba(255, 255, 255, 0.1);
    padding-left: 7px;
}

.sidebarbtn-icon{
    height: 80%;
    margin: 0 5px;
}

.top-buttons {
    position: relative;
    transition: 0.2s all ease;
}
.top-buttons>*:hover {
    filter: brightness(.8);
}
.logout-icon {
    margin: 10px;
    position: absolute;
}

.logout-icon-svg {
    height: 40px;
}

.settings-icon-svg {
    height: 40px;
    transition: .2s all ease;
}

.settings-icon-svg:hover {
    transform: rotate(50deg);
}

.settings-icon {
    position: absolute;
    right: 0;
    margin: 10px;
}

.icon {
    border-radius: 50%;
    background-color: rgb(255, 58, 58);
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
}

.big-icon {
    zoom: 3;
    color: #fff;
    margin-bottom: 2px;
}

.icon-container {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.post-container {
    color: #fff;
    overflow: auto;
    width: 60%;
    margin-bottom: 40px;
    position: relative;
}

.post {
    background: #333333;
    margin: 5px;
    padding: 10px;
    display: flex;
}

.like-container {
    position: absolute;
    right: 0;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}
.like-number {
    font-size: smaller;
    text-align: center;
    margin-top: px;
}

.post-like-icon {
    height: 30px;
}

.postcontent {
    margin-left: 10px;
}

.comment {
    background: #444444;
    margin: 5px;
    padding: 10px;
    width: 80%;
    float: right;
    display: flex;
}

.box {
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.background>img {
    position: fixed;
    top: 0;
    right: 0;
    width: min(90vh, 50%);
    z-index: -10;
    max-width: 700px;
    opacity: 0.5;
}