<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authenticate</title>
    <link rel="stylesheet" href="/static/css/authenticate.css">
</head>

<body>
    <form class="login-container" method="post">
        {{ form.hidden_tag() }}
        <h1>Login / Register</h1>
        <div class="login-inputs">
            {{ form.email.label }}
            {{ form.email() }}
            {{ form.password.label }}
            {{ form.password() }}
        </div>
        <div class="login-buttons">
            {{ form.login() }}
            {{ form.register() }}
        </div>
    </form>
    <div class="flash-messages">
        {% for err in form.errors.values() %}
        <div class="flash-message error">
            {{ err[0] }}
        </div>
        {% endfor %}

        {% for message in get_flashed_messages() %}
        <div class="flash-message">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</body>

</html>