@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #131516;
}

.sidebar {
    background: #2e2e2e;
    position: fixed;
    height: 100%;
    width: 15%;
    min-width: 250px;
    left: 0;
    transition: left .5s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 10;
}

@media screen and (max-width: 660px) {
    .sidebar {
        left: -250px;
    }
    
    #menu-btn:checked~.sidebar {
        left: 0 !important;
        box-shadow: 4px 0 20px 0px;
    }
}

@media screen and (min-width: 660px) {
    #menu-btn-label {
        display: none !important;
    }
}

#menu-btn {
    display: none;
}

#menu-btn-label {
    display: inline-block;
    color: white;
    background: #06864E;
    transition: background 0.25s ease-in-out;
    font-style: normal;
    font-size: 18px;
    text-align: center;
    padding: 10px;
    width: 60px;
    height: 46px;
    cursor: pointer;
    border-radius: 0 0 20% 0;
    position: fixed;
    z-index: 21;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#menu-btn-label:hover {
    background-color: #07AC64;
}

.content {
    float: right;
    display: flex;
    justify-content: center;
    padding-top: 50px;
    flex-direction: column;
    flex-flow: wrap;
    width: 85%;
    max-width: calc(100% - 250px);
}

@media screen and (max-width: 660px) {
    .content {
        padding-top: 60px;
        width: 100%;
        max-width: 100%;
    }
}

.sidebarbtn {
    display: flex;
    align-items: center;
    height: 3rem;
    font-size: large;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    text-decoration: none;
    transition: .2s all ease;
}

.active {
    background: #1b1b1b;
}

.sidebarbtn:hover {
    background: rgba(255, 255, 255, 0.1);
    padding-left: 7px;
}

.sidebarbtn-icon {
    height: 80%;
    margin: 0 5px;
}

.top-buttons {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 60px;
    width: 100%;
    transition: 0.2s all ease;
}

.top-buttons>*:hover {
    filter: brightness(.8);
}

.logout-icon {
    margin: 10px;
    float: left;
}

.logout-icon-svg {
    height: 40px;
}

.settings-icon-svg {
    height: 40px;
    transition: .2s all ease;
}

.settings-icon-svg:hover {
    transform: rotate(50deg);
}

.settings-icon {
    float: right;
    margin: 10px;
}

.icon {
    border-radius: 50%;
    background-color: rgb(255, 58, 58);
    height: 50px;
    width: 50px;
    display: grid;
    place-items: center;
    flex-shrink: 0;
}

.big-icon {
    zoom: 3;
    color: #fff;
    margin-bottom: 2px;
}

.icon-container {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.post-container {
    color: #fff;
    overflow: auto;
    width: calc(100% - 20px);
    margin-bottom: 30px;
    position: relative;
}

@media screen and (min-width: 900px) {
    .post-container {
        width: 80%;
    }
}

@media screen and (min-width: 1200px) {
    .post-container {
        width: 60%;
    }
}

@media screen and (min-width: 1800px) {
    .post-container {
        width: 960px;
    }
}

.post {
    background: #2e2e2e;
    margin: 5px;
    padding: 10px;
    display: flex;
}

.like-container {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
}

.like-container:hover > img {
    filter: brightness(70%);
}

.delete-container:hover > img {
    filter: brightness(70%);
}

.like-number {
    font-size: smaller;
    text-align: center;
}

.liked {
    filter: invert(48%) sepia(66%) saturate(7260%) hue-rotate(341deg) brightness(111%) contrast(105%);
}

.post-like-icon {
    height: 30px;
}

.post-delete-icon {
    height: 30px;
}

.delete-container {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 3px;
}

.postcontent {
    padding: 0 10px;
    flex-grow: 1;
    flex-shrink: 1;
    overflow: hidden;
}

.postcontent h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
    margin-bottom: 4px;
}

.postcontent p {
    word-break: break-word;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.25px;
    min-height: 14px;
}

.comment {
    background: #444444;
    margin: 5px;
    padding: 10px;
    width: calc(100% - 80px);
    float: right;
    display: flex;
}

.box {
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.comment.box h4 {
    text-align: center;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.add_comment {
    cursor: pointer;
}

.add_comment:hover {
    filter: brightness(1.1);
}

.background>img {
    position: fixed;
    top: 0;
    right: 0;
    width: min(90vh, 50%);
    z-index: -10;
    max-width: 700px;
    opacity: 0.7;
}

@keyframes disappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.flash-messages {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column-reverse;
    pointer-events: none;
    top: 0;
}

.flash-message {
    background-color: #002EA3;
    animation: disappear .3s ease 5s 1 forwards;
    align-self: center;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    color: #fff;
}

.error {
    background-color: #e00909;
    color: #fff;
}

.modal-background {
    height: 100vh;
    width: 100vw;
    position: fixed;
    background: #0c0c0cce;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    z-index: 23;
}

.modal {
    background: #252525;
    height: 50%;
    width: 50%;
    min-width: 350px;
    min-height: 450px;
    color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.modal-title {
    text-align: center;
    padding-bottom: 20px;
}

.modal-inputs {
    display: flex;
    flex-direction: column;
}

.modal-inputs>input {
    box-sizing: border-box;
    border-width: 1px;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    margin-bottom: 10px;
    border-style: none;
    color: #fff;
    outline: none;
    padding-left: 3px;
    text-indent: 5px;
}

.modal-inputs>input:focus {
    border-style: solid;
    border-color: rgba(255, 255, 255, .4);
}

.modal-inputs>label {
    margin-bottom: 3px;
}


.modal-buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-direction: row-reverse;
}

.modal-buttons>input {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    border: none;
    font-size: x-large;
    background: rgba(0, 255, 25, 0.4);
    color: #fff;
}

.modal-buttons>input:nth-child(2) {
    background: rgba(0, 98, 188, .5);
}

.modal-buttons>input:hover {
    filter: brightness(0.8);
    border: 2px solid rgba(0, 0, 0, .5);
}

.modal-textarea {
    width: 100%;
    height: 100%;
    resize: none;
    font-size: large;
    text-indent: 2px;
}

.modal-text-container {
    flex: 1;
}

@media screen and (-webkit-min-device-pixel-ratio:0) { 
    select,
    textarea,
    input {
      font-size: 16px;
      -webkit-appearance: none;
    }
}