<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/posts.css">
    <script src="static/js/posts.js"></script>
</head>

<body>
    <label for="menu-btn" id="menu-btn-label">&#9776;</label>
    <input type="checkbox" id="menu-btn" />

    <div class="sidebar">
        <div class="top-buttons">
            <a href="/authenticate/logout" class="logout-icon">
                <img draggable="false" class="logout-icon-svg" src="static/assets/logout_icon.svg">
            </a>
            <a href="/settings" class="settings-icon">
                <img draggable="false" class="settings-icon-svg" src="static/assets/settings_icon.svg">
            </a>
        </div>
        <div class="icon-container">
            <div class="icon big-icon" style="background-color: {{ current_user.profile_color }};">{{
                current_user.username[0].upper() }}</div>
            <h3>{{ current_user.username }}</h3>
        </div>
        <a href="/" class="sidebarbtn">
            <img draggable="false" class="sidebarbtn-icon" src="static/assets/house.svg">
            <pre>Home</pre>
        </a>
        <a href="/posts" class="sidebarbtn">
            <img draggable="false" class="sidebarbtn-icon" src="static/assets/newest_posts.svg">
            <pre>Recent posts</pre>
        </a>
        <a href="/me" class="sidebarbtn">
            <img draggable="false" class="sidebarbtn-icon" src="static/assets/posts_icon.svg">
            <pre>My posts</pre>
        </a>
        <a href="/liked" class="sidebarbtn">
            <img draggable="false" class="sidebarbtn-icon" src="static/assets/like_icon.svg">
            <pre>Liked posts</pre>
        </a>
        <a href="#" id="newpost-btn" class="sidebarbtn">
            <img draggable="false" class="sidebarbtn-icon" src="static/assets/new_post.svg">
            <pre>New post</pre>
        </a>
    </div>
    <div class="content">
        {% for post in posts %}
        <div class="post-container">
            <div class="post box">
                <div class="icon" style="background-color: {{ post.icon_color }};">{{ post.owner[0].upper() }}</div>
                <div class="postcontent">
                    <h3>{{ post.owner }}</h3>
                    <p>{{ post.text }}</p>
                </div>
                <div class="like-container">
                    <img draggable="false" class="post-like-icon {{ ('','liked')[post.liked] }}"
                        src="static/assets/like_icon.svg">
                    <p class="like-number">{{post.likes}}</p>
                </div>
            </div>
            {% for comment in post.comments %}
            <div class="comment box">
                <div class="icon" style="background-color: {{ comment.icon_color }};">{{ comment.owner[0].upper() }}
                </div>
                <div class="postcontent">
                    <h3>{{ comment.owner }}</h3>
                    <p>{{ comment.text }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="comment box add_comment">
                <h4>Add new comment</h4>
            </div>
        </div>
        {% endfor %}
    </div>
    <div id="modal-container" class="modal-background">
        <div id="modal" class="modal">
            <h2 class="modal-title"></h2>
            <div class="modal-text-container">
                <textarea name="text" id="modal-textbox" class="modal-textarea"></textarea>
            </div>
            <div class="modal-buttons">
                <input id="modal-submit" type="submit" value="submit">
                <input id="modal-cancel" type="submit" value="cancel">
            </div>
        </div>
    </div>
    <div class="background"><img draggable="false" class="colors" src="static/assets/blob.png"></div>
    <div id="flash-messages" class="flash-messages">
        {% for message in get_flashed_messages() %}
        <div class="flash-message">
            {{ message }}
        </div>
        {% endfor %}
    </div>
</body>

</html>